@import "variables";
@import "mixins";

.content-box {
  &__title {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    max-width: 100%;
    & button {
      width: 30%;
      font-family: $main-font;
    }
    & h1 {
      @include titleFontProperties;
    }
  }
  &__modal {
    display: none;
    z-index: 1;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
  }
  &__form {
    margin: 0 auto;
    height: 400px;
    width: 40%;
    padding: 40px;
    border: 1px solid $text-color;
    border-radius: 20px;
    position: relative;
    background-color: #fff;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    @include breakpoint (md-only){
      width: 90%;
    }
    @include breakpoint (sm-only){
      width: 100%;
    }
    @include breakpoint (md){
      width: 90%;
    }
    @include breakpoint (xl){
      width: 50%;
    }
    @include breakpoint (lg){
      width: 50%;
    }
  }
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.cards-container{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  @include breakpoint (md-only){
    flex-direction: column;
    align-items: center;
  }
  @include breakpoint (sm){
    flex-direction: column;
    align-items: center;
  }
  @include breakpoint (md){
    flex-direction: row;
    align-items: start;
  }
  @include breakpoint (xl){
    flex-direction: row;
    align-items: start;
  }
  @include breakpoint (lg){
    flex-direction: row;
    align-items: start;
  }
}

.cards-container__planed{
  @include breakpoint (md-only){
    width: 80%;
  }
  @include breakpoint (sm){
    width: 80%;
  }
  @include breakpoint (md){
    width: 80%;
  }
  @include breakpoint (xl){
    width: 50%;
  }
  @include breakpoint (lg){
    width: 50%;
  }
}
.cards-container__ready , .cards-container__planed{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @include breakpoint (md-only){
    width: 80%;
  }
  @include breakpoint (sm){
    width: 80%;
  }
  @include breakpoint (md){
    width: 80%;
  }
  @include breakpoint (xl){
    width: 50%;
  }
  @include breakpoint (lg){
    width: 50%;
  }
  &--items{
    @include breakpoint (md-only){
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoint (sm){
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoint (md){
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoint (xl){
      display: flex;
      flex-direction: column;
    }
    @include breakpoint (lg){
      display: flex;
      flex-direction: column;
    }
  }
}
.card {
  margin: 0 5px 20px 0;
  text-align: center;
  background-color: $background-color;
  @include breakpoint (md-only){
    width: 9rem;
  }
  @include breakpoint (sm){
    width: 9rem;
  }
  @include breakpoint (md){
    width: 9rem;
  }
  @include breakpoint (xl){
    width: 18rem;
  }
  @include breakpoint (lg){
    width: 18rem;
  }
}
body {
  background-color: beige;
  height: 100%;
  font-family: $main-font;
}

.start-page {
  display: flex;
  margin: 0 auto;
  border: 2px solid $title-color;
  border-radius: 30px;
  background-color: $background-color;
  width: 40%;
  box-shadow: 10px 10px 10px $text-color;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  margin-top: 100px;
  @include breakpoint (md-only){
    width: 60%;
  }
  @include breakpoint (sm-only){
    width: 90%;
  }
  @include breakpoint (md){
    width: 60%;
  }
  @include breakpoint(xl){
    width: 60%;
  }

  & button{
    border: 1px solid $title-color;
    height: 90%;
    width: 45%;
    border-radius: 30px;
    box-shadow: 0 0 40px 40px $background-color inset, 0 0 0 0 $background-color;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    font-size: $title-font-size;
    font-style: $title-font-style;
    &:hover{
      box-shadow: 0 0 10px 0 $text-color inset, 0 0 10px 4px $text-color
    }
    
  }
}
.login-form__container {
  margin: 0 auto;
  display: none;
  width: 50%;
  height: 50%;
  margin-top: 10%;
  padding: 20px;
  background-color: $background-color;
  border: 1px solid $text-color;
  border-radius: 20px;
  box-shadow: 10px 10px 10px $text-color;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  @include breakpoint (md-only){
    width: 90%;
    height: 400px;
  }
  @include breakpoint (sm){
    width: 90%;
    height: 400px;
  }
  @include breakpoint (md){
    width: 90%;
    height: 400px;
  }
  @include breakpoint(xl){
    width: 90%;
    height: 400px;
  }
  @include breakpoint(lg){
    width: 60%;
    height: 400px;
  }
  &--item {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    font-family: $main-font;
    & input,
    span {
      box-shadow: 3px 3px 3px $text-color;
    }
    & h1 {
      @include titleFontProperties;
    }
    &__buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 60%;
      @include breakpoint (md-only){
        width: 90%;

      }
      @include breakpoint (sm){
        width: 90%;

      }
      @include breakpoint (md){
        width: 90%;

      }
      & :first-child {
        box-shadow: 3px 3px 3px rgb(10, 53, 4);
      }
      & :last-child {
        box-shadow: 3px 3px 3px rgb(53, 4, 4);
      }
      & button{
        @include breakpoint (md-only){
          width: 40%;
  
        }
        @include breakpoint (sm){
          width: 40%;
  
        }
        @include breakpoint (md){
          width: 40%;
        }
      }
      

    }
  }
}
.header__menu__item a {
  width: 100px;
}

.no-items-content {
  margin: 0 auto;
  text-align: center;
  @include titleFontProperties;
}
.show-hide-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  display: none;
  text-align: center;
  color: $text-color;
  background-color: $background-color;
  padding: 0;
  @include breakpoint (md-only){
    width: 30px;

  }
  @include breakpoint (sm){
    width: 30px;

  }
  @include breakpoint (md){
    width: 30px;
  }
}

.active {
  display: block;
}

.show-hide-button:hover {
  color: $buttons-color;
}
.form-check-input:checked{
  background-color: $buttons-color;
}
.form-check-input:hover{
  cursor: pointer;
}

.form-switch{
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}