@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap");
/*========== Breakpoings ==========*/
.content-box__title {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  align-items: center;
  max-width: 100%;
}
.content-box__title button {
  width: 30%;
  font-family: "Montserrat", sans-serif;
}
.content-box__title h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: bold;
  color: #3b3a3d;
}
.content-box__modal {
  display: none;
  z-index: 1;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}
.content-box__form {
  margin: 0 auto;
  height: 400px;
  width: 40%;
  padding: 40px;
  border: 1px solid #6e6c78;
  border-radius: 20px;
  position: relative;
  background-color: #fff;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@media (max-width: 767px) {
  .content-box__form {
    width: 90%;
  }
}
@media (max-width: 599px) {
  .content-box__form {
    width: 100%;
  }
}
@media (min-width: 48em) {
  .content-box__form {
    width: 90%;
  }
}
@media (min-width: 70em) {
  .content-box__form {
    width: 50%;
  }
}
@media (min-width: 64em) {
  .content-box__form {
    width: 50%;
  }
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.cards-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 767px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 37.5em) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 48em) {
  .cards-container {
    flex-direction: row;
    align-items: start;
  }
}
@media (min-width: 70em) {
  .cards-container {
    flex-direction: row;
    align-items: start;
  }
}
@media (min-width: 64em) {
  .cards-container {
    flex-direction: row;
    align-items: start;
  }
}

@media (max-width: 767px) {
  .cards-container__planed {
    width: 80%;
  }
}
@media (min-width: 37.5em) {
  .cards-container__planed {
    width: 80%;
  }
}
@media (min-width: 48em) {
  .cards-container__planed {
    width: 80%;
  }
}
@media (min-width: 70em) {
  .cards-container__planed {
    width: 50%;
  }
}
@media (min-width: 64em) {
  .cards-container__planed {
    width: 50%;
  }
}

.cards-container__ready, .cards-container__planed {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 767px) {
  .cards-container__ready, .cards-container__planed {
    width: 80%;
  }
}
@media (min-width: 37.5em) {
  .cards-container__ready, .cards-container__planed {
    width: 80%;
  }
}
@media (min-width: 48em) {
  .cards-container__ready, .cards-container__planed {
    width: 80%;
  }
}
@media (min-width: 70em) {
  .cards-container__ready, .cards-container__planed {
    width: 50%;
  }
}
@media (min-width: 64em) {
  .cards-container__ready, .cards-container__planed {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .cards-container__ready--items, .cards-container__planed--items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 37.5em) {
  .cards-container__ready--items, .cards-container__planed--items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 48em) {
  .cards-container__ready--items, .cards-container__planed--items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 70em) {
  .cards-container__ready--items, .cards-container__planed--items {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 64em) {
  .cards-container__ready--items, .cards-container__planed--items {
    display: flex;
    flex-direction: column;
  }
}

.card {
  margin: 0 5px 20px 0;
  text-align: center;
  background-color: #7aa899;
}
@media (max-width: 767px) {
  .card {
    width: 9rem;
  }
}
@media (min-width: 37.5em) {
  .card {
    width: 9rem;
  }
}
@media (min-width: 48em) {
  .card {
    width: 9rem;
  }
}
@media (min-width: 70em) {
  .card {
    width: 18rem;
  }
}
@media (min-width: 64em) {
  .card {
    width: 18rem;
  }
}

body {
  background-color: beige;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.start-page {
  display: flex;
  margin: 0 auto;
  border: 2px solid #3b3a3d;
  border-radius: 30px;
  background-color: #7aa899;
  width: 40%;
  box-shadow: 10px 10px 10px #6e6c78;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  margin-top: 100px;
}
@media (max-width: 767px) {
  .start-page {
    width: 60%;
  }
}
@media (max-width: 599px) {
  .start-page {
    width: 90%;
  }
}
@media (min-width: 48em) {
  .start-page {
    width: 60%;
  }
}
@media (min-width: 70em) {
  .start-page {
    width: 60%;
  }
}
.start-page button {
  border: 1px solid #3b3a3d;
  height: 90%;
  width: 45%;
  border-radius: 30px;
  box-shadow: 0 0 40px 40px #7aa899 inset, 0 0 0 0 #7aa899;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  font-size: 30px;
  font-style: bold;
}
.start-page button:hover {
  box-shadow: 0 0 10px 0 #6e6c78 inset, 0 0 10px 4px #6e6c78;
}

.login-form__container {
  margin: 0 auto;
  display: none;
  width: 50%;
  height: 50%;
  margin-top: 10%;
  padding: 20px;
  background-color: #7aa899;
  border: 1px solid #6e6c78;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #6e6c78;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@media (max-width: 767px) {
  .login-form__container {
    width: 90%;
    height: 400px;
  }
}
@media (min-width: 37.5em) {
  .login-form__container {
    width: 90%;
    height: 400px;
  }
}
@media (min-width: 48em) {
  .login-form__container {
    width: 90%;
    height: 400px;
  }
}
@media (min-width: 70em) {
  .login-form__container {
    width: 90%;
    height: 400px;
  }
}
@media (min-width: 64em) {
  .login-form__container {
    width: 60%;
    height: 400px;
  }
}
.login-form__container--item {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}
.login-form__container--item input,
.login-form__container--item span {
  box-shadow: 3px 3px 3px #6e6c78;
}
.login-form__container--item h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: bold;
  color: #3b3a3d;
}
.login-form__container--item__buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}
@media (max-width: 767px) {
  .login-form__container--item__buttons {
    width: 90%;
  }
}
@media (min-width: 37.5em) {
  .login-form__container--item__buttons {
    width: 90%;
  }
}
@media (min-width: 48em) {
  .login-form__container--item__buttons {
    width: 90%;
  }
}
.login-form__container--item__buttons :first-child {
  box-shadow: 3px 3px 3px #0a3504;
}
.login-form__container--item__buttons :last-child {
  box-shadow: 3px 3px 3px #350404;
}
@media (max-width: 767px) {
  .login-form__container--item__buttons button {
    width: 40%;
  }
}
@media (min-width: 37.5em) {
  .login-form__container--item__buttons button {
    width: 40%;
  }
}
@media (min-width: 48em) {
  .login-form__container--item__buttons button {
    width: 40%;
  }
}

.header__menu__item a {
  width: 100px;
}

.no-items-content {
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: bold;
  color: #3b3a3d;
}

.show-hide-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  display: none;
  text-align: center;
  color: #6e6c78;
  background-color: #7aa899;
  padding: 0;
}
@media (max-width: 767px) {
  .show-hide-button {
    width: 30px;
  }
}
@media (min-width: 37.5em) {
  .show-hide-button {
    width: 30px;
  }
}
@media (min-width: 48em) {
  .show-hide-button {
    width: 30px;
  }
}

.active {
  display: block;
}

.show-hide-button:hover {
  color: #27263d;
}

.form-check-input:checked {
  background-color: #27263d;
}

.form-check-input:hover {
  cursor: pointer;
}

.form-switch {
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=content.css.map */
